<h1>Welcome {{name}},</h1>
                        
<p>Your Hyperlink account has been created! We're excited to welcome you to the community, and we look forward to learning with you.</p>

<h2>Please confirm your account!</h2>
  
<p> Copy and paste the following code to the signup page:</p>

<div class="contentBox" align="center">
  <p href="{{activation_code}}" target="_blank"><strong><em>{{activation_code}}</em></strong></p>
</div>

<p style= "text-align: center">or</p>

<!--Primary Button-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class= "primaryButtonBackground" align="center">
            <a href="{{activation_url}}" class ="primaryButtonText">Click here to verify!</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- End Primary Button-->

<hr>

<h2>Next steps—</h2>

<p>Once you’ve activated your account:</p>
<ul>
  <li><a href="https://hyperlink.academy/">Browse upcoming courses</a></li>
  <li><a href="https://forum.hyperlink.academy/">Join us on the forum and say hello</a></li>
</ul>

<p>We started Hyperlink because we wanted a better way to learn online — a space where we can come together for active, serious, impactful learning…and make some new friends while we're at it!</p>

<p>If you have any questions getting started, just hit reply.</p>

