<h1>Welcome {{name}},</h1>

<p>Your Hyperlink account has been created! We're excited to welcome you to the community, and we look forward to learning with you.</p>

<p>We started Hyperlink because we wanted a better way to learn online — a space where we can come together for active, serious, impactful learning…and make some new friends while we're at it!</p>

<h2>First things first: please confirm your account!</h2>
  
<p> Copy and paste the following code to the signup page:</p>
<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <p href="{{activation_code}}" class="action-text" target="_blank">{{activation_code}}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p><em>Alternatively, you can <a href="{{activation_url}}">click here to confirm</a></em>.</p>

<hr>

<h2>Two quick next steps—</h2>

<p>Once you’ve activated your account:</p>
<ul>
  <li><a href="https://hyperlink.academy/">Browse upcoming courses</a></li>
  <li><a href="https://forum.hyperlink.academy/">Join us on the forum and say hello</a></li>
</ul>

<p>Thanks, and we'll see you soon! If you have any questions getting started, just hit reply.</p>

<p>—The Hyperlink Team</p>