<h1>Hi, {{name}},</h1>

<p>You've been invited to join a course on <a href="https://hyperlink.academy">Hyperlink</a>!</p>

<p>Head here to learn more and consider signing up:</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a href="{{course_url}}" class="button button--" target="_blank">{{course_name}}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>First time hearing about Hyperlink? The TL;DR is that it's a simple yet powerful platform for facilitating serious, high-quality learning experiences. We'd love to have you join the community! You can learn more here in the <a href="https://hyperlink.academy/manual">Hyperlink Manual</a>.</p>

<p>If there's a cohort that fits your schedule, we hope to see you in the course! Any questions, just hit reply and let us know.</p>

<p>—The Hyperlink Team</p>
