<h1>Hi {{name}},</h1>

<p>You've been invited to join a course on <a href="https://hyperlink.academy">Hyperlink</a>!</p>

<div class="contentBox" align="center">
  <p><b>{{course_name}}</b></p>
</div>

<p>Head here to learn more and consider joining:</p>

<!--Primary Button-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class= "primaryButtonBackground" align="center">
            <a href="{{course_url}}" class="primaryButtonText" target="_blank"> Check it out!</a>
          </td>
        </tr>
        <!-- <tr height= "32"></tr> -->
      </table>
    </td>
  </tr>
</table>
<!-- End Primary Button-->

<p><strong>Please note that you need an account to join</strong> — <a href="https://hyperlink.academy/login">log in</a>, or <a href="https://hyperlink.academy/signup">sign up</a> if you don't yet have an account and you'll be able to register.</p>

<p>We hope to see you in this course soon!</p>

<hr>

<h2>First time hearing about Hyperlink?</h2>

<p>It's a course platform and online school built for seriously effective learning — and we'd love to have you join the community! You can learn more here in the <a href="https://hyperlink.academy/manual">Hyperlink Manual</a>.</p>

<p>Any questions, just hit reply and let us know.</p>

