<p>A course you're watching on Hyperlink has just scheduled a new cohort!</p>

<h2>{{course_name}}</h2>

<p>{{course_short_description}}</p>

<p>This cohort starts on <b>{{cohort_start_date}}</b></p>

<!--Primary Button-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class= "primaryButtonBackground" align="center">
            <a href="{{cohort_page_url}}" class="primaryButtonText"
            target="_blank">Check out the cohort</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- <tr height= "32"></tr> -->
</table>
<!-- End Primary Button-->


<p>If you're no longer interested in this course, visit the course page above and click "stop watching" to turn off notifications.</p>
