<h1>Hi {{name}},</h1>

<p>You've RSVP'd to <a href="{{event_page_url}}">{{event_name}}</a>!</p>

<p>Add this event to your calendar:</p>

<!--Primary Button-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class= "primaryButtonBackground" align="center">
            <a href="https://hyperlink.academy/calendar"
            class="primaryButtonText" target="_blank">Add to Calendar</a>
          </td>
        </tr>
        <!-- <tr height= "32"></tr> -->
      </table>
    </td>
  </tr>
</table>
<!-- End Primary Button-->

<p>If you have questions just hit reply on this email.</p>
