<h1>Hi {{name}},</h1>

<p><strong>You're enrolled in <a href="{{cohort_page_url}}">{{course_name}}</a></strong></p>

<p>Thanks for signing up, we're glad to have you and excited for this cohort of the course to begin.</p>

<p>Add the events to your
  calendar <a href="https://hyperlink.academy/calendar">here</a></p>

<p>Go check out the cohort forum for instructions on what to do to prepare!</p>

<!--Primary Button-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class= "primaryButtonBackground" align="center">
            <a href="{{get_started_topic_url}}" class="primaryButtonText" target="_blank">Get Started!</a>
          </td>
        </tr>
        <!-- <tr height= "32"></tr> -->
      </table>
    </td>
  </tr>
</table>
<!-- End Primary Button-->

<p>If you have questions, please post in the <a href="{{cohort_forum_url}}">cohort community</a>, or reach out privately by hitting reply on this email.</p>
