<p>Hi {{name}},</p>

<p>You're enrolled in {{course_name}}, starting {{course_start_date}}!</p>

<p>Thanks for signing up, we're glad to have you and excited for this Hyperlink course to get started.</p>

<p>A couple Very Important Things to Know:</p>

<ul>
  <li>Key course details: <a href="{{cohort_page_url}}">Cohort Details</a></li>
  <li>Your community for the course: <a href="{{cohort_forum_link}}">Cohort Community</a></li>
</ul>

<p>Just one thing to do for now — Head here to get started!</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a href="{{get_started_topic_url}}" class="button button--" target="_blank">{{course_name}} - Get Started!</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>If you have questions, please make a post on the forum (linked above!) or reach out privately by hitting reply on this email.</p>

<p>—The Hyperlink Team</p>