<h1>Hi {{name}},</h1>

<p>Thanks so much for signing up for {{course_name}}.</p>

<p><strong>We have some unfortunate news — your facilitator has had to cancel this cohort of the course.</strong></p>

<p>We've refunded your course fee in full, and this should be reflected in your account within a couple days. </p>

<p>Please take a look at the <a href="{{course_link}}">course page</a>, and consider signing up for a different cohort if there's one that works with your schedule. We'll also be sure to keep you posted when we're able to offer the course again in the future.</p>

<p>Very sorry for the inconvenience. Please hit reply and reach out if you have further questions, and we hope to see you for another course soon!</p>

